@model App.Domain.Provider

@{
    ViewData["Title"] = "Details";
}
@{
    
    
}

<h1>Details</h1>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

